#root {
  font-family: Arial, Helvetica, sans-serif;
}

form {
  display: flex;
  flex-direction: column;
  width: 400px;
}

input {
  margin: 10px;
}

.user-card {
  border: 1px solid #999;
  border-radius: 3px;
  margin: 1rem;
}
